body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    
}

header{
    max-width: 100%;
    color: white;
    background-color: #33333362;
    justify-content: space-between;
    display: flex;

    padding: 20px;
}

.nav-links{
    
    margin: 20px;
    text-align: center;
    justify-content: space-between;

}

a{
    text-decoration: none;
    padding:10px;
    border-radius: 30px;
    
    color: white;
    margin: 20px;
}


.section-header {
    position: relative;
    height: 100vh;
    background-image: url('urso.jpg'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    
    align-items: center;
    justify-content: center;
}


h2{
        color: rgb(229, 96, 24);
}

footer {
    height: 110px;
    text-align: center;
    padding: 10px;
    background-color: #33333362;
    color: #fff;
}







